<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}" ></script>

    <style>
        input[readonly] {
            background-color: #f2f2f2; /* 設置背景顏色為灰色 */
            color: #555; /* 設置文字顏色 */
        }
    </style>
</head>
    <body style="background-color: #fffab9;">
        <header th:include="~{user/common/header}"></header>
        <!-- side bar 功能-->
        <div th:include="~{user/common/sidebar}"></div>



            <div class="card">
                <div class="card card-header container">
                    <form th:action="@{/web/cart}" th:object="${cart}" class="needs-validation">
                        <div class="alert alert-danger d-none" role="alert"></div>
                        <div class="form-group row">
                            <label for="record_seq" class="col-sm-2 col-form-label">編號</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="record_seq" name="record_seq" th:value="*{record_seq}" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="product_name" class="col-sm-2 col-form-label">商品名稱</label>
                            <div class="col-sm-10">
                                <input class="form-control " id="product_name" name="product_name" th:maxlength="50" th:value="*{product_name}" type="text" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="product_price" class="col-sm-2 col-form-label">商品價錢</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="product_price" name="product_price" th:value="*{product_price}" type="text" oninput="calculateTotal()">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="amount" class="col-sm-2 col-form-label">數量</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="amount" name="amount" th:value="*{amount}" type="text" oninput="calculateTotal()">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="total" class="col-sm-2 col-form-label">總計</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="total" name="total" th:value="*{total}" type="text" readonly style="background-color:white;">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 align-items-center d-flex">
                                <input class="btn btn-primary btn-lg" type="submit" value="查詢">
                                <a class="btn btn-primary btn-lg" th:href="@{/web/cart/0}">新增項目</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div th:include="~{user/cart/common/searchbody}"></div>


            </div>
        <script>
            function deleteCart(recordSeq) {
                const confirmation = confirm("確定要刪除嗎?");
                if (confirmation) {
                    const form = document.createElement('form');
                    form.setAttribute('method', 'post');
                    form.setAttribute('action', '/web/cart');

                    const hiddenField = document.createElement('input');
                    hiddenField.setAttribute('type', 'hidden');
                    hiddenField.setAttribute('name', 'record_seq');
                    hiddenField.setAttribute('value', recordSeq);

                    const actionField = document.createElement('input');
                    actionField.setAttribute('type', 'hidden');
                    actionField.setAttribute('name', 'action');
                    actionField.setAttribute('value', 'delete');

                    form.appendChild(hiddenField);
                    form.appendChild(actionField);

                    document.body.appendChild(form);
                    form.submit();
                }
            }


            function calculateTotal() {
                const productPrice = parseFloat(document.getElementById('product_price').value);
                const amount = parseFloat(document.getElementById('amount').value);

                // 檢查商品價錢和數量是否有效
                if (!isNaN(productPrice) && !isNaN(amount)) {
                    const total = productPrice * amount;
                    document.getElementById('total').value = total.toFixed(0); // 將計算結果設置為總計欄位的值
                }
            }
        </script>
    </body>
</html>