<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}" ></script>

</head>
<body>
<div class="card card-body">
    <table class="table table-striped table-bordered table-hover w-100 display nowrap" id="dataTables">
        <thead>
            <tr>
                <th class="text-center align-middle">編號</th>
                <th class="text-center align-middle">商品名稱</th>
                <th class="text-center align-middle">商品價錢</th>
                <th class="text-center align-middle">數量</th>
                <th class="text-center align-middle">總計</th>
                <th class="text-center align-middle" >&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="cart : ${carts}" th:if="carts">
            <td class="text-center align-middle" th:text="${cart.record_seq}"></td>
            <td class="text-center align-middle" th:text="${cart.product_name}"></td>
            <td class="text-center align-middle" th:text="${cart.product_price}"></td>
            <td class="text-center align-middle" th:text="${cart.amount}"></td>
            <td class="text-center align-middle" th:text="${cart.total}"></td>
            <!-- 在表格中為刪除按鈕添加資料 ID -->
            <!-- 在表格中為刪除按鈕添加資料 ID -->
            <td class="text-center align-middle">
                <a th:href="@{'/web/cart/' + ${cart.record_seq}}" class="btn btn-primary">修改</a>
                <form th:action="@{/web/cart}" method="post" onsubmit="return confirm('確定要刪除嗎?')">
                    <input type="hidden" name="record_seq" th:value="${cart.record_seq}" />
                    <input type="hidden" name="action" value="delete" />
                    <button class="btn btn-primary" type="submit">刪除</button>
                </form>
            </td>



        </tr>
        <tr th:if="!carts">
            <td class="text-center align-middle" colspan="5"> No Data </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>