<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">功能</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link btn btn-primary active text-white" aria-current="page" th:href="@{/web/home}" th:text="買家頁面"></a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/web/upload}" th:text="上傳檔案"></a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/web/owner}" th:text="賣家管理"></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    包裹事項
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/web/orderlist}" th:text="包裹事項清單"></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" th:href="@{/web/orderprocess/pending}" th:text="待付款訂單"></a></li>
                    <li><a class="dropdown-item" th:href="@{/web/orderprocess/processed}" th:text="待處理訂單"></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" th:href="@{/web/orderprocess/returning}" th:text="已處理訂單"></a></li>
                    <li><a class="dropdown-item" th:href="@{/web/orderprocess/soldout}" th:text="待取消訂單"></a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
</body>
</html>
