<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <style>
        .carousel {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slides img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <header th:include="~{common/header}"></header>
    <!-- side bar 功能-->
    <div th:include="~{common/sidebar}"></div>

    <div>
        <div class="container ">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img th:src="@{/img/tkuim.png}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img th:src="@{/img/神魔.png}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="測試3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div>
                測試
            </div>

        </div>

    </div>

    <script>
        const slides = document.querySelector('.slides');
        const images = document.querySelectorAll('.slides img');

        let slideIndex = 0;
        let slideWidth = images[0].clientWidth; // 取得圖片寬度，假設所有圖片寬度相同

        function showSlide(index) {
            slides.style.transition = 'transform 0.5s ease-in-out';
            slides.style.transform = `translateX(${-index * slideWidth}px)`;
        }

        function nextSlide() {
            if (slideIndex < images.length - 1) {
                slideIndex++;
            } else {
                slideIndex = 0;
            }
            showSlide(slideIndex);
        }

        setInterval(nextSlide, 3000); // 每 3 秒切換一張圖片
    </script>

</body>
</html>