<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}" ></script>
</head>
<body>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">功能</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <a th:href="@{/web/home}" th:text="首頁"></a>
            </div>
            <div>
                <a th:href="@{/web/about}" th:text="關於我們"></a>
            </div>
            <div>
                <a th:href="@{/web/cart}" th:text="購物車"></a>
            </div>
            <div>
                <a th:href="@{/web/statics}" th:text="數據統計"></a>
            </div>

        </div>
    </div>
</body>
</html>